/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	-fx-spacing: 20;
	-fx-padding: 10;
	-fx-background-image: url("../img/AlgoMonGame2.jpg");
	-fx-background-size: cover;
}

.label {
	-fx-font-size: 40px;
	-fx-font-weight: bold;
	-fx-text-fill: #FFFFFF;
}

.button {
	-fx-font-family: "Arial";
	-fx-font-size: 18px;
	-fx-font-weight: bold;
	-fx-alignment: center;
	-fx-background-color: linear-gradient(#9EA7E5, #61A2B1);
	-fx-text-fill:#383640;
}

.button:hover {
	-fx-background-color: linear-gradient(#9EA7E5, #61A2B1);
	-fx-text-fill:#FFFFFF; 
}
