/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	-fx-spacing: 20;
	-fx-padding: 0;
	-fx-background-image: url("../img/wall-algomon.jpg");
	-fx-background-size: cover;
}

.label {
	-fx-font-size: 40px;
	-fx-font-weight: bold;
	-fx-text-fill: #FFFFFF;
}

.button {
	-fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 20px;
    -fx-padding: 10 20 10 20;
}

.button:hover {
	-fx-background-color: linear-gradient(#9EA7E5, #61A2B1);
	-fx-text-fill:#FFFFFF; 
}

.main_text {
	-fx-font-size: 30px;
	-fx-font-weight: bold;
}